<<<<<<< HEAD
html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: rgb(171, 14, 27);
}

a:visited {
    color: rgb(217, 217, 217)
}

a:hover,
a:active {
    color: #eee;
}

a:link {
    color: aqua;
=======
html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a{
    color:rgb(171, 14, 27);
}
a:visited{
    color:rgb(217, 217, 217)
}
a:hover, a:active{
    color: #eee;
}
a:link{
    color:aqua;
>>>>>>> 9fe4bc6434d5ddb76e07797b2441d2919869982e
}